body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

nav {
    display: flex;
    justify-content: space-between;

    .home {
        color: #828282;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration: none;
        margin-top: 30px;

        &.home2 {
            color: var(--Black, #070707);
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }

}

.section1 {
    .container{
        .class{
            width: 100%;
        }
    }

    .diw {
        display: flex;
        justify-content: space-between;
    }

    h1 {
        color: var(--Black, #070707);
        font-size: 47.339px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    p {
        margin-top: 100px;
        color: var(--Black, #070707);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .text {
        color: #000;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        transform: rotate(-90deg);

        span {
            color: #828282;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }

    img {
        display: block;
        margin: 0 auto;
    }
}

.section2 {
    background-color: #F6F6F6;

    h2 {
        padding-top: 120px;
        padding-bottom: 20px;
        text-align: center;
    }

    p {
        text-align: center;
    }
}

.section3 {
    h1 {
        text-align: center;
        padding-top: 91px;
    }

    p {
        text-align: center;
        padding-top: 70px;
    }

    .wrapper {
        display: flex;
        justify-content: space-between;
        @media (max-width:950px) {
            flex-wrap: wrap ;
            justify-content: center; 
        }

        .card {
            width: 167px;
            text-align: center;

        }

        h1 {
            color: var(--Black, #070707);
            text-align: center;
            font-size: 34px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        .texter {
            color: #828282;
            text-align: center;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
}

.section4 {
    background: #F6F6F6;

    .container {
        img{
            width: 100%;
        }
        p {
            text-align: center;
            color: var(--Black, #070707);
            text-align: center;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-decoration-line: underline;
            margin-bottom: 99.09px;
        }
    }

    h1 {
        text-align: center;
        color: var(--Black, #070707);
        text-align: center;
        font-size: 34px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: 112px;
    }
}

.container {
    .shadov {
        h1 {
            text-align: center;
        }

        p {
            text-align: center;
            margin-bottom: 70px;
        }
    }

    .boxher {
        display: flex;
        justify-content: center;
        gap: 60px;
    }

    .thin {
        color: #828282;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    button{
        color: #FFF;
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        background: #000;
        padding: 14px 30px 14px 30px;
        border-radius: 50px;
        display: block;
        margin: 0 auto;
        margin-bottom: 92px;
    }
}
// @media (max-width:357px) {
//     flex-wrap: wrap;
// }